create '.env' file in root directory and set your own unique SECRET_KEY
When on production set DEBUG value to False.
This is required to run project on docker

SECRET_KEY= set your own secret_key
DEBUG=True