{% extends "base.html" %}
{% block title %}REST Cars API{% endblock %}

{% block content %}
{% load static %}

<br/>
<br/>

<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <h1>
            <b>Example of Basic Django REST Framework - Car API Project</b>
        </h1>
        <h2>
            Check basic car makes and models existence in database.
            <br/>
            Add, rate, delete and view most rated cars
        </h2>
        <hr>
        <p>
            API is interacting with an external API - https://vpic.nhtsa.dot.gov/api/
            - for car existence validation.
        </p>
        <p>
            You can interact with the API only programmatically.
            This means you have to use tools like POSTMAN,
            or send requests programmatically to the relative endpoints.
            Interracting with API does not require authentication
        </p>

        <p>
            <b>Find more information about the project on GITHUB:</b>
            <a href="https://github.com/klimuntowskirafal/car_api"
               target="_blank">
                https://github.com/klimuntowskirafal/car_api
            </a>
        </p>

        <hr>

        <h3>
            <b>Endpoints:</b>
            <br>
            <small>
                more detailed description to the endpoints with
                described data structure for POST/DELETE requests
                can be found in 'endpoints.txt'
            </small>
        </h3>
        <ul>
            <li style="list-style:default">
                <h4>/cars/</h4> send GET request
            </li>
             <li>
                 <h4>/cars/</h4> send POST request
            </li>
            <li>
                <h4>/cars/{ id }/</h4> send DELETE request with provided ID
            </li>
            <li>
                <h4>/rate/</h4> send POST request
            </li>
            <li>
                <h4>/popular/</h4> send GET request
            </li>
        </ul>
        <hr>

        <h3>
            <b>Have a Question?</b>
        </h3>
        <p>
            contact an author at: klimuntowski.rafal@gmail.com
        </p>
        <p>
            linkedin:
            <a href="https://www.linkedin.com/in/rafklimuntowski/" target="_blank">
                www.linkedin.com/in/rafklimuntowski/
            </a>
        </p>

        <hr>

        <h3>
            <b>GITHUB</b>
        </h3>
        <p>
            <a href="https://github.com/klimuntowskirafal/car_api"
               target="_blank">
                https://github.com/klimuntowskirafal/car_api
            </a>
        </p>

    </div>
</div>

{% endblock %}